<div class="wrapper">
	<div class="content">

		<div class="header">
			<div class="city">
				<div class="city__title">
					<span>Омск</span>
				</div>
				<div class="city__footer">
					<div class="city__change">
						<span>Сменить город</span>
					</div>
					<div class="city__location">
						<img src="../../assets/img/arrow.svg" class="city__arrow">
						<span>Мое местоположение</span>
					</div>
				</div>
			</div>
			<div class="header__radio">
				<div class="degree">°</div>
				<div class="radio-group">
					<input type="radio" name="celsius" value="C" id="celsius" checked="checked" />
					<label for="celsius">C</label>
					<input type="radio" name="celsius" value="F" id="fahrenheit" />
					<label for="fahrenheit">F</label>
				</div>
			</div>
		</div>

		<div class="body">
			<div class="body__info">
				<div class="body__temp">
					<div class="body__img" [ngSwitch]="weatherStatus">
						<ng-template *ngSwitchCase="'mist'"><img src="../../assets/img/cloudy.png"></ng-template>
						<ng-template *ngSwitchCase="'clouds'"><img src="../../assets/img/cloudy.png"></ng-template>
						<ng-template *ngSwitchCase="'clear'"><img src="../../assets/img/sunny.svg"></ng-template>
						<ng-template *ngSwitchCase="'rain'"><img src="../../assets/img/rainy.svg"></ng-template>
					</div>
					<div class="body__deg">
						<span>{{tempC}}°</span>
					</div>
				</div>
				<div class="body__status">
					<span>{{weatherStatus}}</span>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="footer__item">
				<span class="footer__title">Ветер</span>
				<div>
					<span>{{windSpeed}} м/с, {{windDirection}}</span>
				</div>
			</div>
			<div class="footer__item">
				<span  class="footer__title">Давление</span>
				<div>
					<span>{{pressure}} мм рт. ст.</span>
				</div>
			</div>
			<div class="footer__item">
				<span class="footer__title">Влажность</span>
				<div>
					<span>{{humidity}}%</span>
				</div>
			</div>
			<div class="footer__item">
				<span class="footer__title">Вероятность дождя</span>
				<div>
					<span>{{clouds}}%</span>
				</div>
			</div>
		</div>
	</div>
</div>